@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

p{
  -webkit-text-size-adjust: none !important;
}
.MuiTypography-root{
  -webkit-text-size-adjust: none !important;
}
.MuiTypography-body1{
  -webkit-text-size-adjust: none !important;
}
.MuiTypography-body2{
  -webkit-text-size-adjust: none !important;
}

.MuiTypography-h6{
  -webkit-text-size-adjust: none !important;
}

.MuiTypography-h5{
  -webkit-text-size-adjust: none !important;
}
.MuiTypography-h4{
  -webkit-text-size-adjust: none !important;
}
.MuiTypography-h3{
  -webkit-text-size-adjust: none !important;
}

.MuiTypography-h2{
  -webkit-text-size-adjust: none !important;
}
.MuiTypography-h1{
  -webkit-text-size-adjust: none !important;
}

* {
  
  -webkit-text-size-adjust: none;

}


html *{

 
  -webkit-text-size-adjust: none;


 
  
}
body * {
 
  -webkit-text-size-adjust: none;
 

 
}



@media only screen and (min-width: 1100px)
{
  .newfont{
    -moz-transform: scale(0.8, 0.8);
   zoom:0.8;
   zoom:80%;
  }
}

#tempfont{
  -webkit-text-size-adjust: none;
}


body {
 
  
 
  -webkit-text-size-adjust: none;
  margin: 0;
 
  overflow-x: hidden;
  
  

  
}










code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.search {
  position: absolute;
  left: 50%;
  right:50%;
  top:9%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top:50%;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}



