@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


html,html *{
  -webkit-text-size-adjust: none !important;
  font-family: 'Noto Sans JP', sans-serif !important;
}

body,body * {
  -webkit-text-size-adjust: none !important;
  font-family: 'Noto Sans JP', sans-serif !important;
}


body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif !important;
  overflow-x: hidden;
  -moz-transform: scale(0.8, 0.8);
  zoom: 0.8;
  zoom: 80%;
  -webkit-text-size-adjust:  none !important;
  
}








code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.search {
  position: absolute;
  left: 50%;
  right:50%;
  top:9%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top:50%;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}



