*, *::before, *::after {
  box-sizing: border-box;
}

.columns{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  border-bottom: 1px solid grey;
}

.item{
  height: 200px;
  width: 200px;
  margin: 3px;
  text-align: center;
  margin-bottom: 7px;
  border-right: 1px solid grey;
}

.search {
  position: relative;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  position: absolute;
  display: inline
}

.locate {
  position: relative;
  top: 17rem;
  left: 1rem;
  font-size:50%;
  
  
}
.locate1 {
  position: relative;
  top: 17rem;
  left: 1rem;
  font-size:50%;
  
  
}


.locate img {

 
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.zclassmap{
  margin-top:0px;
  
}
#map1{
  
 overflow: visible !important;
}



.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.svg_me { 
  display: inline-block; 
  position: absolute; 
  top: 0; 
  left: 0; 
  
} 

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}

.sticky1{
  
  height: 600px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 16px solid #dbf6e9;
	border-bottom: 8px solid transparent;
  
}

.backgroundclass1{
  position: relative; 
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.backgroundclass1::before {  
      content: "";
      background-image: url("https://cdn.suwalls.com/wallpapers/photography/hotel-room-27502-1920x1200.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width:100%;
      max-width:1200px;
      opacity: 0.4;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      
  }





.triangle-right {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 16px solid #9ddfd3;
	border-bottom: 8px solid transparent;
 
}

.searchcardme{
  width:90vw;
  max-width:1200px;
  
}


@media only screen and (max-width: 300px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 71vh; 
  left: 0; 
}}

@media only screen and (min-width: 300px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 68vh; 
  left: 0; 
}}

@media only screen and (min-width: 365px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 68vh; 
  left: 0; 
}}

@media only screen and (min-width: 375px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 70vh; 
  left: 0; 
}}


@media only screen and (min-width: 400px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 70vh; 
  left: 0; 
}}



@media only screen and (max-width: 426px) and (min-width: 400px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 68vh; 
  left: 0; 
}}

@media only screen and (max-width: 426px) and (min-width: 410px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 69vh; 
  left: 0; 
}}


@media only screen and (min-width: 426px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 68vh; 
  left: 0; 
}}

@media only screen and (min-width: 500px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 68vh; 
  left: 0; 
}}

@media only screen and (min-width: 540px) and (max-width:550px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 66vh; 
  left: 0; 
}}





@media only screen and (min-width: 700px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 65vh; 
  left: 0; 
}}

@media only screen and (min-width: 800px) and (max-width: 1000px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 67vh; 
  left: 0; 
}}

@media only screen and (min-width: 1000px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 65vh; 
  left: 0; 
}}

@media only screen and (min-width: 1100px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 55vh; 
  left: 0; 
}}

@media only screen and (min-width: 1200px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 51vh; 
  left: 0; 
}}

@media only screen and (min-width: 1300px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 45vh; 
  left: 0; 
  
}}

.gridme1{
  background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);

}

.searchcardme{



}


.formbgclass{
  background-color: #ffa69e;
  background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
}

.formbgclass1{
  background-color: #ffa69e;
  background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
height:100vh;
}

.navbarclass{
  background: hsla(347, 70%, 55%, 1);

  background: linear-gradient(0deg, hsla(347, 70%, 55%, 1) 0%, hsla(349, 72%, 45%, 1) 100%);
  
  background: -moz-linear-gradient(0deg, hsla(347, 70%, 55%, 1) 0%, hsla(349, 72%, 45%, 1) 100%);
  
  background: -webkit-linear-gradient(0deg, hsla(347, 70%, 55%, 1) 0%, hsla(349, 72%, 45%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DD3D5F", endColorstr="#C3203E", GradientType=1 );









}
.navbarclass1{
  background: hsla(347, 70%, 55%, 1);

  background: linear-gradient(0deg, hsla(347, 70%, 55%, 1) 0%, hsla(349, 72%, 45%, 1) 100%);
  
  background: -moz-linear-gradient(0deg, hsla(347, 70%, 55%, 1) 0%, hsla(349, 72%, 45%, 1) 100%);
  
  background: -webkit-linear-gradient(0deg, hsla(347, 70%, 55%, 1) 0%, hsla(349, 72%, 45%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DD3D5F", endColorstr="#C3203E", GradientType=1 );






}

.footerclass{
  background-color: #000000;
  



}

.blockcoupon{
  width:100%;
  padding-top: 8px;
  padding-bottom: 8px;
  
  
 
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 
}


.buttonmainclass{
  background: hsla(347, 70%, 55%, 1);

  background: linear-gradient(0deg, hsla(347, 70%, 55%, 1) 0%, hsla(349, 72%, 45%, 1) 100%);
  
  background: -moz-linear-gradient(0deg, hsla(347, 70%, 55%, 1) 0%, hsla(349, 72%, 45%, 1) 100%);
  
  background: -webkit-linear-gradient(0deg, hsla(347, 70%, 55%, 1) 0%, hsla(349, 72%, 45%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DD3D5F", endColorstr="#C3203E", GradientType=1 );

color:white;
}

.tablepanel{
  background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}


.circle2{
  width: 25px;
  Height: 50px; 
  border-radius:0 25px 25px 0; 
  background-color: #fff;

  
  
}

.circle3{
  width: 25px;
  Height: 50px; 
  border-radius:25px 0 0 25px; 
  background-color: grey;
 
  border-bottom: none;
  
}


.couponborder{
  border-bottom: 2px dashed #fff;
  border-top: 2px dashed #fff;
  
}
.borderme{

}
.titlecoupon{
  background-color: black;

}
.bgclass2 {
  position: relative;
  color: white;
  /*Note, you can change the color to your choice depending on your 
  image and what color blends with it*/
}
.bgclass2::after{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnyKdT_YR9I2OOqWE_Am3fAifdWNYW0EN7Lw&usqp=CAU")no-repeat fixed top;
  
    /* also change the blend mode to what suits you, from darken, to other 
    many options as you deem fit*/
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    /* width:'90vw', */
    max-width:'1200px',
  
}

