.columns{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  border-bottom: 1px solid grey;
}

.item{
  height: 200px;
  width: 200px;
  margin: 3px;
  text-align: center;
  margin-bottom: 7px;
  border-right: 1px solid grey;
}

.search {
  position: relative;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  position: absolute;
  display: inline
}

.locate {
  position: relative;
  top: 17rem;
  left: 1rem;
  font-size:50%;
  
  
}
.locate img {

 
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}



.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.svg_me { 
  display: inline-block; 
  position: absolute; 
  top: 0; 
  left: 0; 
} 


@media only screen and (max-width: 300px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 71vh; 
  left: 0; 
}}

@media only screen and (min-width: 300px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 68vh; 
  left: 0; 
}}

@media only screen and (min-width: 365px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 68vh; 
  left: 0; 
}}

@media only screen and (min-width: 375px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 70vh; 
  left: 0; 
}}


@media only screen and (min-width: 400px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 70vh; 
  left: 0; 
}}



@media only screen and (max-width: 426px) and (min-width: 400px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 68vh; 
  left: 0; 
}}

@media only screen and (max-width: 426px) and (min-width: 410px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 69vh; 
  left: 0; 
}}


@media only screen and (min-width: 426px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 68vh; 
  left: 0; 
}}

@media only screen and (min-width: 500px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 68vh; 
  left: 0; 
}}

@media only screen and (min-width: 540px) and (max-width:550px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 66vh; 
  left: 0; 
}}





@media only screen and (min-width: 700px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 65vh; 
  left: 0; 
}}

@media only screen and (min-width: 800px) and (max-width: 1000px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 67vh; 
  left: 0; 
}}

@media only screen and (min-width: 1000px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 65vh; 
  left: 0; 
}}

@media only screen and (min-width: 1100px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 55vh; 
  left: 0; 
}}

@media only screen and (min-width: 1200px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 51vh; 
  left: 0; 
}}

@media only screen and (min-width: 1300px)
{.container_class{
  display: inline-block; 
  position: absolute; 
  width: 100%; 
  padding-bottom: 100%; 
  vertical-align: bottom; 
  overflow: hidden; 
  top: 45vh; 
  left: 0; 
}}

.gridme1{
  background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);

}

.searchcardme{



}


.formbgclass{
  background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

