.columns{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  border-bottom: 1px solid grey;
}

.item{
  height: 200px;
  width: 200px;
  margin: 3px;
  text-align: center;
  margin-bottom: 7px;
  border-right: 1px solid grey;
}

.search {
  position: relative;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  position: absolute;
  display: inline
}

.locate {
  position: relative;
  top: 17rem;
  left: 1rem;
  
  
}
.locate img {

 
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}