.myclass {
  background-color:#3f51b5;
}

.textclass {
  color: white !important;
  font-size:1rem;
  
}

.textclass1 {
  color: white !important;
  font-size:1.25rem;
  
}

#toggle{
  color:white !important;
  border-color: None !important;
}